body {
    margin: 0;
    background-image: linear-gradient(180deg, rgb(0, 0, 30), darkblue);
    overflow: scroll;
    overflow-x: hidden;
    color: darkcyan;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 10%;
    color: darkcyan;
    border: 1.5px solid darkcyan;
    background-color: black;
    min-height: 50px;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

ul, ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: cyan;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: blue;
    cursor: pointer;
}

#content-wrapper {
    background-color: black;
    width: 75%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#content-wrapper > * {
    font-size: 20px;
}

#header {
    text-align: center;
    background-color: black;
    width: 75%;
}

#entry-list {
    width: 105%;
    margin-right: 10px;
}

#entry-wrapper {
    margin-left: 20px;
}

#entry-start {
    margin-left: 10px;
    margin-right: 10px;
}

#entry {
    background-color: black;
    width: 75%;
}

#entry > * {
    font-size: 20px;
}

#entry-text {
    margin-left: 10px;
    margin-right: 10px;
}

#date {
    margin-top: 25px;
    margin-bottom: 0;
}