.Ciastko {
    position: absolute;
    top: 40%;
    left: 45%;
}

.counter {
    position: absolute;
    top: 30%;
    left: 47.5%;
}

.losowanie {
    position: absolute;
    top: 30%;
    left: 50%;
}

.zgadywanie {
    position: absolute;
    top: 25%;
    left: 48.5%;
}